<div class="login" ng-controller="loginController">
        <div class="login-form">
            <h3> Login </h3>
            <form name="loginForm">
                <div class="form-group">
                    <label for="user-email">Email address</label>
                    <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" ng-model="user.email" required="">
                    <div ng-show="loginForm.email.$error.required">Required!</div>   <!-- here loginForm is our form name and email is name of input tag(email) $error is object and required is property of that and so when email field is empty it passes true value and ng-show displays the div when the pass value is true  -->
                    <!-- loginForm ke andar email 'name' ke input ke andar Jo jo errors hai ($error) Unmein se 'required' vala error hai kya? -->
                    <div ng-show="loginForm.email.$error.email">This doesn't look like a valid email</div>
                </div>
                <div class="form-group">
                    <label for="user-password">Password</label>
                    <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password" ng-minlength="6" ng-maxlength="15">
                    <div ng-show="loginForm.password.$error.minlength">
                    Password must be at least 6 characters long 
                    </div>
                    <div ng-show="loginForm.password.$error.maxlength">
                    Password must be at most 15 characters long 
                    </div>
                    <div ng-show="loginForm.password.$error.required">
                    Please enter your super secret ninja password 
                    </div>
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="goToHome()">Login</button>
                <!-- The value of loginForm.$invalid is true if the form fields are not correct, otherwise it is false -->
                <!-- and ng-click works like on click when this button is clicked the funtion that we have passed into ng-click will be called -->
            </form>
        </div>
    </div>