<div class="main" ng-controller="mainController"> <!-- ng-contoller is used to set a controller to a block -->
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Foodie</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#!/home">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#!/shopping">Shopping List</a></li>
                        <li><a href="#!/">Logout</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="ui container">
            <div class="hero">
                <p>Find the best restaurants in town</p>
            </div>
            <!--  -->
            <div class="search-bar">
                <form>
                <div class="input-wrapper">
                  <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div>
            <div class="restro" ng-repeat="restaurant in restaurants | filter:query">  <!-- ng-repeat is used to loop and and applied a filter that filter restro list on the basis of query(module) that got value from input tag(search bar)-->
                    <div class="restro_header">

                        <div class="restro_img">
                            <img src="{{restaurant.image}}">
                        </div>

                        <div class="restro_info">
                            <div class="restro_cate">
                                {{restaurant.category}}
                            </div>
                            <div class="restro_name">
                                <a ng-href="#!/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
                            </div>
                            <div class="restro_loc">
                                {{restaurant.location}}
                            </div>
                            <div class="restro_add">
                                {{restaurant.address}}
                            </div>
                        </div>
                        
                        <div class="restro_rating">
                            <div style="margin-top: auto; margin-bottom: auto;">{{restaurant.vote}}</div>
                        </div>
                    </div>

                    <div class="restro_mid">
                        <div class="restro_mid_left">
                            <div>CUISINES: </div>
                            <div>COST FOR TWO: </div>
                            <div>HOURS: </div>
                        </div>
                        <div class="restro_mid_right">
                            <div>{{restaurant.cuisines}}</div>
                            <div>₹{{restaurant.cost | number}}</div> <!-- here number is filter that diplays numbers like 2,000,000 previously 2000000 -->
                            <div>{{restaurant.hours}}</div>
                        </div>
                    </div>

                    <div class="restro_footer">
                        
                    </div>
            </div>
        </div>
    </div>